# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Alexandre\Ecoles\Polytechnique_2020-2021\INF1007\c04-ch8-exercices-Auzrid\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
